<a href="https://colab.research.google.com/github/nitesh-sinha/machine-learning-jupyter-notebooks/blob/master/assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()
"""
def myreduce(func, iterable):
    # Covert set to list to make it subscriptable
    if type(iterable) == set:
        iterable = list(iterable)

    if len(iterable) < 2:
        print("hi")
        return iterable[0]
    else:
        res = 0
        while len(iterable) > 0:
            res = func(res, iterable[0])
            iterable = iterable[1:len(iterable)]
        return res
        

def summation(a, b):
    return a+b


lst = [1,2,3,4,5,6,7]
sett = {5,6,7}
tup = (4,4,4)
# myreduce() works for list, set and tuple
print(myreduce(summation, lst))
print(myreduce(summation, sett))
print(myreduce(summation, tup))

28
18
12

In [2]:
"""
Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()
"""
def myfilter(func, iterable):
    lst = [] # Create a resultant list type container
    for elem in iterable:
        if func(elem) == True:
            lst.append(elem)
    # Typecast result list container to appropriate type based on input
    if type(iterable) == set:
        return set(lst)
    elif type(iterable) == tuple:
        return tuple(lst)
    else:
        return lst
    
    
def isOdd(n):
    if n % 2 != 0:
        return True
    

lst = [1,2,3,4,5,6]
sett = {5,6,7,8,9,9,9,9}
tup = (3,4,5,6,7,8,8,9,9,0)
print(myfilter(isOdd, lst))
print(myfilter(isOdd, sett))
print(myfilter(isOdd, tup))

[1, 3, 5]
{9, 5, 7}
(3, 5, 7, 9, 9)

In [4]:
"""
Implement List comprehensions to produce the following lists. Write List comprehensions to produce the following Lists
['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz'] 
[[2], [3], [4], [3], [4], [5], [4], [5], [6]] 
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]
"""
res1 = [i for i in "ACADGILD"]
print(res1)

res2 = [i*j for i in "xyz" for j in range(1,5)]
print(res2)

res3 = [j*i for i in range(1,5) for j in "xyz"]
print(res3)

res4 = [[i+j] for i in range(3) for j in range(2,5)]
print(res4)                                    

res5 = [[i for i in range(j, j+4)] for j in range(2,6)] 
print(res5)

res6 = [(j,i) for i in range(1,4) for j in range(1,4)]
print(res6)

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]